<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pizza</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/web/js/pizza.js" defer></script>
    <link rel="stylesheet" type="text/css" href="../web/css/pizza.css" />

</head>
<body>

<div id="allpizza">

    <table id="allpizzatable">
        <tr id="allpizzatablehead">
            <th>
                PIZZA
            </th>
            <th>
                Ingredients
            </th>
        </tr>

        <tr v-for="pizza in pizzas">
            <td>
                {{ pizza.name}}
            </td>
            <td>
                <li v-for="ingredient in pizza.ingredient">
                    {{ ingredient.name }}
                </li>

            </td>
        </tr>


    </table>

</div>


<a href="customPizza.html">custom</a>
</body>
</html>