.maincontent {
    border : 1px solid black;
    width: 100%;
}

#header, #footer {
    text-align : center;
}

#main {
    display: table;
    width : 100%;
}
#login, #register {
    border : 1px solid red;

    display:table-cell;
}
